[Unit]
Description=Carbonio Policyd Daemon
After=carbonio-mailthreat.service carbonio-configd.service
Wants=carbonio-mailthreat.service carbonio-configd.service
PartOf=carbonio-mta.target

[Service]
User=zextras
ExecStartPre=bash -c "if [ ! -f "/opt/zextras/data/cbpolicyd/db/cbpolicyd.sqlitedb" ]; then /opt/zextras/libexec/zmcbpolicydinit; fi"
ExecStartPre=echo REWRITE cbpolicyd | netcat -w 120 localhost 7171
ExecStart=/opt/zextras/common/bin/cbpolicyd --config /opt/zextras/conf/cbpolicyd.conf -fg
LimitNOFILE=524288

[Install]
WantedBy=carbonio-mta.target
