[Unit]
Description=Carbonio Memcached Sidecar
Documentation=https://docs.zextras.com/
Requires=network-online.target
After=network-online.target
PartOf=carbonio-proxy.target

[Service]
Slice=carbonio-proxy.slice
User=zextras
ExecStart=/usr/bin/consul connect envoy \
    -token-file /etc/carbonio/memcached/service-discover/token \
    -admin-bind localhost:0 \
    -sidecar-for carbonio-memcached
Restart=on-failure
RestartSec=15s
ExecReload=/usr/bin/kill -HUP $MAINPID
KillSignal=SIGINT
LimitNOFILE=65536

# Security hardening (strict)
ProtectSystem=strict
ProtectHome=yes
PrivateTmp=yes
PrivateDevices=yes
NoNewPrivileges=yes
CapabilityBoundingSet=
ProtectKernelModules=yes
ProtectKernelTunables=yes
ProtectControlGroups=yes
ProtectKernelLogs=yes
RestrictNamespaces=yes
RestrictRealtime=yes
RestrictSUIDSGID=yes
LockPersonality=yes
RestrictAddressFamilies=AF_INET AF_INET6 AF_UNIX
SystemCallArchitectures=native
ProtectHostname=yes
ProtectClock=yes

[Install]
WantedBy=multi-user.target
