[Unit]
Description=Carbonio SASL Auth Daemon
After=carbonio-configd.service
Wants=carbonio-configd.service
PartOf=carbonio-mta.target

[Service]
User=zextras
Type=forking
ExecStartPre=echo REWRITE sasl | netcat -w 120 localhost 7171
ExecStart=/opt/zextras/common/sbin/saslauthd -r -a zimbra
Restart=on-failure
RestartSec=3s

[Install]
WantedBy=carbonio-mta.target
