[Unit]
Description=Carbonio OpenDKIM Daemon
After=carbonio-configd.service
Wants=carbonio-configd.service
PartOf=carbonio-mta.target

[Service]
User=zextras
ExecStartPre=echo REWRITE opendkim | netcat -w 120 localhost 7171
ExecStart=/opt/zextras/common/sbin/opendkim -f -x /opt/zextras/conf/opendkim.conf -u zextras
RestartSec=3s
Restart=on-failure

[Install]
WantedBy=carbonio-mta.target
