[Unit]
Description=Carbonio OpenDKIM Daemon
After=carbonio-configd.service
Wants=carbonio-configd.service
PartOf=carbonio-mta.target

[Service]
User=zextras
EnvironmentFile=-/opt/zextras/data/systemd.env
ExecStartPre=echo REWRITE opendkim | netcat -w $configd_rewrite_timeout localhost $configd_listen_port
ExecStart=/opt/zextras/common/sbin/opendkim -f -x /opt/zextras/conf/opendkim.conf -u zextras
RestartSec=3
Restart=on-failure

[Install]
WantedBy=carbonio-mta.target
