[Unit]
Description=Carbonio Web and Reverse Proxy Server
After=carbonio-memcached.service network.target network-online.target nss-lookup.target
Wants=carbonio-memcached.service carbonio-proxy-sidecar.service
PartOf=carbonio-proxy.target

[Service]
User=zextras
Type=notify
AmbientCapabilities=CAP_NET_BIND_SERVICE
ExecStartPre=/bin/sh -c 'echo REWRITE proxy | netcat -w 120 localhost 7171'
ExecStart=/opt/zextras/common/sbin/nginx -g 'daemon off;' -c /opt/zextras/conf/nginx.conf
ExecReload=/opt/zextras/common/sbin/nginx -c /opt/zextras/conf/nginx.conf -s reload
ExecStop=/opt/zextras/common/sbin/nginx -c /opt/zextras/conf/nginx.conf -s stop
RestartSec=5s
Restart=on-failure
LimitNOFILE=524288

# Hardening
PrivateTmp=yes
#ProtectSystem=strict
#ReadWritePaths=/opt/zextras/log /opt/zextras/data/tmp/nginx /run/carbonio
ProtectSystem=yes
ReadOnlyPaths=/usr
ReadOnlyPaths=/boot
ReadOnlyPaths=/efi
NoNewPrivileges=yes
PrivateDevices=yes
ProtectHome=yes
ProtectKernelModules=yes
ProtectKernelLogs=yes
ProtectKernelTunables=yes
ProtectControlGroups=yes
RestrictRealtime=yes
RestrictNamespaces=yes
RestrictSUIDSGID=yes
LockPersonality=yes
ProtectHostname=yes
ProtectClock=yes
MemoryDenyWriteExecute=no
RestrictAddressFamilies=AF_INET AF_INET6 AF_UNIX
CapabilityBoundingSet=CAP_NET_BIND_SERVICE

[Install]
WantedBy=carbonio-proxy.target
