[Unit]
Description=Carbonio Clamav Sidecar
Documentation=https://docs.zextras.com/
Requires=network-online.target
After=network-online.target

[Service]
User=carbonio-clamav
ExecStart=/usr/bin/consul connect envoy \
    -token-file /etc/carbonio/clamav/service-discover/token \
    -admin-bind localhost:0 \
    -sidecar-for carbonio-clamav
ExecReload=/usr/bin/kill -HUP $MAINPID
Restart=on-failure
RestartSec=15s
KillSignal=SIGINT
LimitNOFILE=65536

[Install]
WantedBy=multi-user.target
