[Unit]
Description=Carbonio Freshclam Daemon
After=carbonio-antivirus.service carbonio-configd.service
Wants=carbonio-antivirus.service carbonio-configd.service
PartOf=carbonio-mta.target

[Service]
User=zextras
ExecStartPre=echo REWRITE antivirus | netcat -w 120 localhost 7171
ExecStart=/opt/zextras/common/bin/freshclam \
  --config-file=/opt/zextras/conf/freshclam.conf \
  --quiet -d --checks=12 --foreground=true\
  >>/opt/zextras/log/freshclam.log
Restart=on-failure
RestartSec=3s

[Install]
WantedBy=carbonio-mta.target
