# SPDX-FileCopyrightText: 2025 Zextras <https://www.zextras.com>
# SPDX-License-Identifier: GPL-2.0-only

# Triggered by carbonio-antivirus.path when config changes

[Unit]
Description=Reload Carbonio Antivirus on config change
Documentation=https://zextras.com
After=carbonio-antivirus.service
Requisite=carbonio-antivirus.service

[Service]
Type=oneshot
ExecStart=/usr/bin/systemctl reload carbonio-antivirus.service
