[Unit]
Description=Carbonio clamav sidecar proxy
Documentation=https://docs.zextras.com/
Requires=network-online.target
After=network-online.target
PartOf=carbonio-mta.target

[Service]
User=carbonio-clamav
ExecStart=/usr/bin/consul connect envoy \
    -token-file /etc/carbonio/clamav/service-discover/token \
    -admin-bind localhost:0 \
    -sidecar-for carbonio-clamav
ExecReload=/usr/bin/kill -HUP $MAINPID
Restart=on-failure
RestartSec=15
KillSignal=SIGINT
LimitNOFILE=65536

[Install]
WantedBy=carbonio-mta.target
