[Unit]
Description=Carbonio Freshclam Daemon
After=carbonio-antivirus.service carbonio-configd.service
Wants=carbonio-antivirus.service carbonio-configd.service
PartOf=carbonio-mta.target carbonio-ce.target carbonio.target

[Service]
User=zextras
EnvironmentFile=-/opt/zextras/data/systemd.env
ExecStartPre=echo REWRITE antivirus | netcat -w $configd_rewrite_timeout localhost $configd_listen_port
ExecStart=/opt/zextras/common/bin/freshclam \
  --config-file=/opt/zextras/conf/freshclam.conf \
  --quiet -d --checks=12 --foreground=true\
  >>${log_directory}/freshclam.log
Restart=on-failure
RestartSec=3s

[Install]
WantedBy=carbonio-mta.target carbonio-ce.target carbonio.target
